header {
    display: block;
    text-align; right
    color: blue
    
}
body {
    background-color: white;
}

h1 {
    color: blue;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
